<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/AutoRental">
<head>
    <meta charset="UTF-8">
    <meta name='description' content='Прокат автомобилей [ООО ТМЫВ ДЕНЕГ] | Эконом, премиум и внедорожники | Почасовая, суточная, долгосрочная аренда | Полная страховка | Доставка по городу'>
    <title>{% block title %}Car Rental{% endblock %}</title>
    <link rel="shortcut icon" href="/static/logos/badge.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/style2.css?{% now 'U' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-nav">
        {% block navigation %}
        <nav class="mainNav" itemprop="mainEntity" itemscope itemtype="https://schema.org/SiteNavigationElement">
            <button id="theme-toggle" class="theme-toggle" title="Переключить тему">
                🌙
            </button>
            <a href="/" itemprop="url">main page</a><br>
            <a href="/about-us" itemprop="url">about us</a><br>
            <a href="/news" itemprop="url">news</a><br>
            <a href="/faq" itemprop="url">faq</a><br>
            <a href="/employees/" itemprop="url">our team</a><br>
            <a href="/vacancies/" itemprop="url">vacancies</a><br>
            <a href="/reviews/" itemprop="url">reviews</a><br>
            <a href="/promocodes/" itemprop="url">promo codes</a><br>
            <a href="/privacy/" itemprop="url">privacy policy</a><br>
            <a href="/profile/" itemprop="url">profile</a><br>
            <a href="/cars/" itemprop="url">cars list</a><br>
            
            {% if not user.is_authenticated %}
            <a href="/register/" itemprop="url">register</a><br>
            {% endif %}
            
            {% if user.is_authenticated and user.role in 'MANAGER,SUPERUSER' %}
            <a href="/rentals-by-car/" itemprop="url">rents by car</a><br>
            {% if user.role in 'MANAGER,SUPERUSER' %}
            <a href="{% url 'clients_with_rentals' %}" itemprop="url">clients with rents</a><br>
            {% endif %}
            {% endif %}
            
            {% if user.role in 'MANAGER,SUPERUSER' %}
            <a href="{% url 'rental_profit' %}" itemprop="url">rental profit</a><br>
            {% endif %}
            
            {% if user.is_authenticated and user.role in 'SUPERUSER' %}
            <a href="/admin/" itemprop="url">panel</a><br>
            {% endif %}

            {% if user.is_authenticated and user.role in 'SUPERUSER' %}
            <a href="/employee_list/" itemprop="url">contacts</a><br>
            {% endif %}
        </nav>
        {% endblock %}
        
        <aside class="aside-nav">
        {% block aside %}
        {% endblock %}
        </aside>
    </div>

    <div class="mainContainer">
        <main>
            <header>
                <h1 itemprop="name">{% block header %}Welcome to Car Rental{% endblock %}</h1>
            </header>

            {% block cat_fact %}
            <section itemscope itemtype="https://schema.org/Article">
                <blockquote cite='http://vet31.ru/useful_info/50-interesnykh-faktov-o-koshkakh/'>
                    <h2 itemprop="headline">Random Cat Fact</h2>
                    <b><p lang="en" itemprop="text">{{ cat_fact }}</p>
                    {% if not api_works %}
                    <p><small>[Стандартный факт, API временно недоступно]</small></p>
                    {% endif %}
                    </b>
                </blockquote>
            </section>
            {% endblock %}

            {% block content %}{% endblock %}
        </main>

        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </div>
    <div class="simple-loader" id="simpleLoader">
        <div class="infinity-clear">
            <div class="circle circle-left"></div>
            <div class="circle circle-right"></div>
        </div>
    </div>
    <script>
        window.addEventListener('load', function() {
            setTimeout(function() {
                document.getElementById('simpleLoader').style.display = 'none';
            }, 1000);
        });
    </script>
    <script src="/static/js/theme-toggle.js"></script>
</body>
</html>