{% extends "base.html" %}

{% block title %}Car Rental - Home{% endblock %}

{% block content %}
<!-- Микроданные для организации -->
<section itemscope itemtype="https://schema.org/AutoRental">
    <figure id='logos'>
        <img src="/static/logos/banner.png" 
             alt="banner"
             style="max-width: 100%; height: auto;"
             itemprop="logo">
        <img src="/static/logos/badge.png" 
             alt="badge"
             style="max-width: 100%; height: auto;"
             itemprop="image">
        <figcaption itemprop="description">Our company banner and logo</figcaption>
    </figure>

    <section id='catalogue'>
        <h2 itemprop="makesOffer">You can order one of these cars:</h2>
        <table border="1">
            <thead>
                <tr>
                    <th id="license_plate">License plate</th>
                    <th id="model" colspan="2">Model</th>
                    <th id="price">Price</th>
                    <th id="info">Info</th>
                </tr>
            </thead>
            <tbody>
                {% for el in cars %}
                <tr itemscope itemtype="https://schema.org/Car">
                    <td headers="license_plate" itemprop="vehicleIdentificationNumber">{{el.license_plate}}</td>
                    <td headers="model"><b itemprop="model">{{el.model}}</b></td>
                    <td headers="model" itemprop="modelDate">{{el.year}}</td>
                    <td headers="price"><i itemprop="price" content="{{el.price}}">{{el.price}}</i> руб.</td>
                    <td headers="info">
                        {% if el.pk %}
                        <a href="{% url 'car_detail' car_id=el.pk %}" title="View car details" itemprop="url">
                            View Details
                        </a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user.is_authenticated %}
        <nav>
            <a href="/create_rental">New Rental</a>
        </nav>
        {% endif %}
    </section>
</section>

<section id='news'>
    <h2>Some News</h2>
    {% for el in news %}
    <article itemscope itemtype="https://schema.org/NewsArticle">
        <h3 itemprop="headline">{{ el.title }}</h3>
        <p itemprop="articleBody">{{ el.content }}</p>
        <p><img src="{{ el.img_path }}" alt="{{ el.title }}" itemprop="image"></p>
    </article>
    {% endfor %}
</section>

<iframe width="560" height="315" src="https://www.youtube.com/embed/uHhPD_-IpSE?si=EZ6c0ltINCvaBROX" 
        title="YouTube video player" frameborder="0">
</iframe>
{% endblock %}

{% block aside %}
<p>
    <a href='#logos'>Логотип</a><br>
    <a href='#catalogue'>Каталог</a><br>
    <a href='#news'>Новости</a><br>
    <a href='#partners'>Партнеры</a><br>
</p>
{% endblock %}

{% block footer %}
<section id='partners'>
    <h2>Our partners</h2>
    {% for el in partners %}
    <article itemscope itemtype="https://schema.org/Organization">
        <h3 itemprop="name">{{ el.name }}</h3>
        <a href="{{ el.website }}" itemprop="url">Web-site</a>
        <img src="{{ el.logo.url }}" alt="{{ el.name }}" itemprop="logo">
    </article>
    {% endfor %}
</section>
{% endblock %}