{% extends "base.html" %}

{% block title %}Clients with Rentals - Car Rental{% endblock %}

{% block header %}Clients with Rentals{% endblock %}

{% block content %}
{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% else %}
    <table>
        <tr>
            <th>Username</th>
            <th>Number of Rentals</th>
            <th>Actions</th>
        </tr>
        {% for client in clients %}
        <tr>
            <td>{{ client.username }}</td>
            <td>{{ client.rental_count }}</td>
            <td>
                <a href="{% url 'view_user_profile' client.id %}">View Profile</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No clients with rentals</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}

{% block cat_fact %}{% endblock %}
{% block news %}{% endblock %}