{% extends "base.html" %}

{% block title %}Login - Car Rental{% endblock %}

{% block header %}Login{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.username.label_tag }} <input type="text" name="username" id="id_username" placeholder="Username" required><br>
    {{ form.password.label_tag }} <input type="password" name="password" id="id_password" placeholder="Password" required><br>
    <button type="submit">Sign In</button>
</form>
{% endblock %}

{% block cat_fact %}{% endblock %}
{% block news %}{% endblock %}
{% block navigation %}{% endblock %}