{% extends "base.html" %}

{% block title %}Rental Sums by Date - Car Rental{% endblock %}

{% block header %}Rental Sums by Date{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Date</th>
        <th>Amount (RUB)</th>
        <th>Chart</th>
    </tr>
    {% for item in sums_data %}
    <tr>
        <td>{{ item.date }}</td>
        <td>{{ item.total|floatformat:2 }}</td>
        <td>{{ item.bar }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No data</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block cat_fact %}{% endblock %}
{% block news %}{% endblock %}