<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Rental</title>
</head>
<body>
    <h1>Welcome to Car Rental</h1>
    
    <h2>Random Cat Fact</h2>
    <p>{{ cat_fact }}</p>
    {% if not api_works %}
    <p><small>[Стандартный факт, API временно недоступно]</small></p>
    {% endif %}

    <h2>Some News</h2>
    {% for el in news %}
        <h3>{{ el.title }}</h3>
        <p>{{ el.content }}</p>
    {% endfor %}

    <p><a href="/about-us">about us</a></p>
    <p><a href="/news">news</a></p>
    <p><a href="/faq">faq</a></p>
    <p><a href="/employees/">our team</a></p>
    <p><a href="/vacancies/">vacancies</a></p>
    <p><a href="/reviews/">reviews</a></p>
    <p><a href="/promocodes/">promo codes</a></p>
    <p><a href="/privacy/">privacy policy</a></p>
    <p><a href="/profile/">profile</a></p>
    <p><a href="/cars/">cars list</a></p>
    {% if not user.is_authenticated %}
    <p><a href="/register/">register</a></p>
    {% endif %}
    {% if user.is_authenticated and user.role in 'MANAGER,SUPERUSER' %}
    <h2>Управление и аналитика</h2>
    <p><a href="/admin/">Админ-панель</a></p>
    <p><a href="/status-distribution/">Распределение аренд по статусам</a></p>
    <p><a href="/rental-sums-by-date/">Суммы аренд по датам</a></p>
    <p><a href="/rentals-by-car/">Аренды по автомобилям</a></p>
    {% endif %}
</body>
</html>