{% extends "base.html" %}

{% block title %}Car Rental - Home{% endblock %}

{% block navigation %}
{{ block.super }}  <!-- Это покажет навигацию из base.html -->
{% endblock %}

{% block content %}
<!-- Микроданные для организации -->
 <div class="animation-container">
    <div class="person">🚶</div>
    <div class="car">🚗</div>
</div>

<h1 class="company-name-animated">ООО Тмыв денег</h1>
<section itemscope itemtype="https://schema.org/AutoRental">
    <figure id='logos'>
        <img src="/static/logos/banner.png" 
             alt="banner"
             itemprop="logo">
        <img src="/static/logos/badge.png" 
             alt="badge"
             itemprop="image">
        <figcaption itemprop="description">Our company banner and logo</figcaption>
    </figure>

    <section id='catalogue' class='text-block-right'>
        <h2 itemprop="makesOffer">You can order one of these cars:</h2>
        <table border="1">
            <thead>
                <tr>
                    <th id="license_plate">License plate</th>
                    <th id="model" colspan="2">Model</th>
                    <th id="price">Price</th>
                    <th id="info">Info</th>
                </tr>
            </thead>
            <tbody>
                {% for el in cars %}
                <tr itemscope itemtype="https://schema.org/Car">
                    <td headers="license_plate" itemprop="vehicleIdentificationNumber">{{el.license_plate}}</td>
                    <td headers="model"><b itemprop="model">{{el.model}}</b></td>
                    <td headers="model" itemprop="modelDate">{{el.year}}</td>
                    <td headers="price"><i itemprop="price" content="{{el.price}}">{{el.price}}</i> руб.</td>
                    <td headers="info">
                        {% if el.pk %}
                        <a href="{% url 'car_detail' car_id=el.pk %}" title="View car details" itemprop="url">
                            <span class='highlight'>View details </span>
                        </a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user.is_authenticated %}
        <nav>
            <a href="/create_rental">New Rental</a>
            <p class='smalltext'>Не несем ответственности за вещи, оставленные в автомобиле</p>
        </nav>
        {% endif %}
    </section>
</section>

<section id='news'>
    <h2>Some news</h2>
    <div class="news-grid">
        {% for el in news %}
        <article itemscope itemtype="https://schema.org/NewsArticle">
            <h3 itemprop="headline">{{ el.title }}</h3>
            <div class="news-excerpt" itemprop="articleBody">
                {{ el.content }}
            </div>
            <img src="{{ el.img_path }}" alt="{{ el.title }}" itemprop="image">
            <a href="{% url 'news_detail' news_id=el.pk %}" class="read-more">Читать далее</a>
        </article>
        {% endfor %}
    </div>
</section>

<iframe width="560" height="315" src="https://www.youtube.com/embed/uHhPD_-IpSE?si=EZ6c0ltINCvaBROX" 
        title="YouTube video player" frameborder="0">
</iframe>
{% endblock %}

{% block footer %}
<section id='partners'>
    <h2>Our partners</h2>
    {% for el in partners %}
    <a href="{{ el.website }}" itemprop="url">
        <article itemscope itemtype="https://schema.org/Organization">
            <h3 itemprop="name">{{ el.name }}</h3>
            <img src="{{ el.logo.url }}" alt="{{ el.name }}" width="560" height="315" itemprop="logo">
        </article>
    </a>
    {% endfor %}
</section>
{% endblock %}

{% block aside %}
    <a href='#logos'>Логотип</a>
    <a href='#catalogue'>Каталог</a>
    <a href='#news'>Новости</a>
    <a href='#partners'>Партнеры</a>
{% endblock %}