{% extends "base.html" %}

{% block title %}News - Car Rental{% endblock %}

{% block header %}Latest News{% endblock %}

{% block content %}
<div class="news-grid">
    {% for el in news %}
    <article itemscope itemtype="https://schema.org/NewsArticle">
        <h3 itemprop="headline">{{ el.title }}</h3>
        <div class="news-excerpt" itemprop="articleBody">
            {{ el.content }}
        </div>
        {% if el.img_path %}
        <img src="{{ el.img_path }}" alt="{{ el.title }}" itemprop="image">
        {% endif %}
        <a href="{% url 'news_detail' news_id=el.pk %}" class="read-more">Читать далее</a>
    </article>
    {% endfor %}
</div>
{% endblock %}

{% block cat_fact %}{% endblock %}
{% block news %}{% endblock %}